[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "==3.14.0"
pyjwt = "*"
django-dotenv = "*"
django-import-export = "*"

[dev-packages]

[requires]
python_version = "3.8"
